Repository ita-social-projects/SpaceToStudy-Client, pull requests merged in 2025-05, with the labels that each got.

#3411 (SP:) [Edit profile. Profile]Verify that tutor/student can add only one language to 'Your native language' field #2726
  tests/unit/containers/edit-profile/profile-tab/profile-tab-form/ProfileTabForm.spec.jsx
Labels: Tutor, Student, Functional, priority: low, test case, my-profile, Edit

#3344 upgraded certain packages
  package-lock.json
  package.json
  src/plugins/axiosClient.ts
Labels: Frontend part, dependencies

#3382 Changed user whose role determined content
  src/containers/user-profile/profile-info/ProfileInfo.tsx
Labels: bug, Frontend part

#3360 [Edit profile. Profile]Verify that tutor/student can clear the language and add other language in 'Your native language' field. #2730
  tests/unit/containers/edit-profile/profile-tab/profile-tab-form/ProfileTabForm.spec.jsx
Labels: Tutor, Student, Functional, priority: low, test case, my-profile, Edit

#3410 Created the test ensuring that user can edit the city field
  src/components/location-selection-inputs/LocationSelectionInputs.tsx
  tests/unit/components/location-selection-inputs/LocationSelectionInputs.spec.jsx
  tests/unit/pages/edit-profile/EditProfile.spec.jsx
Labels: Frontend part, test, test case

#3351 [Edit profile. Profile]Verify that the tutor/student can change their saved native language to another language. #2731
  tests/unit/containers/edit-profile/profile-tab/profile-tab-form/ProfileTabForm.spec.jsx
Labels: test, Tutor, Student, Functional, priority: low, my-profile, Edit

#3236 Added snackbar for quiz submitting
  src/constants/translations/en/quiz.json
  src/constants/translations/uk/quiz.json
  src/pages/quiz/QuizVariants.tsx
  tests/unit/pages/quiz/Quiz.spec.jsx
Labels: Frontend part, feature

#3408 [Edit Tutor’s profile] Verify that the Tutor can not change the password with invalid data #2770
  tests/unit/containers/edit-profile/password-security-tab/ChangePasswordModal.spec.jsx
Labels: test case

#3413 (SP:) [Edit profile. Profile]Verify that tutor/student can't save invalid data as their native language. #2733
  tests/unit/containers/edit-profile/profile-tab/profile-tab-form/ProfileTabForm.spec.jsx
Labels: Tutor, Student, Functional, test case, my-profile, Edit

#3416 (SP: 0.5) Fixed login popup width for invalid password
  src/containers/guest-home-page/login-form/LoginForm.styles.js
  src/containers/guest-home-page/login-form/LoginForm.tsx
Labels: bug, Frontend part

#3239 Replaced service call with useQuery in BookmarkedOffers component
  src/constants/request.ts
  src/pages/bookmarked-offers/BookmarkedOffers.tsx
  src/services/user-service.ts
  tests/unit/pages/bookmarked-offers/BookmarkedOffers.spec.jsx
Labels: Frontend part, feature, useQuery

#3417 chore(gitignore): use wildcard for dotenv files
  .gitignore
Labels: DevOps

#3425 Update Jest library
  package-lock.json
  package.json
Labels: dependency

#3423 Chore/3422/deps update
  package-lock.json
  package.json
Labels: dependency

#3343 Added ua translation for categories and subjects
  src/components/search-autocomplete/SearchAutocomplete.tsx
  src/containers/edit-profile/professional-info-tab/add-professional-category-modal/AddProfessionalCategoryModal.tsx
  src/containers/find-offer/offer-search-toolbar/OfferSearchToolbar.tsx
  src/hooks/use-categories-names.tsx
  src/hooks/use-subjects-names.tsx
  src/hooks/use-translate.tsx
  src/pages/categories/Categories.tsx
  src/pages/subjects/Subjects.tsx
  src/types/common/interfaces/common.interfaces.ts
  tests/unit/components/search-autocomplete/SearchAutocomplete.spec.jsx
  tests/unit/hooks/use-categories-names.spec.jsx
  tests/unit/hooks/use-subjects-names.spec.jsx
  tests/unit/hooks/use-translate.spec.jsx
Labels: Frontend part, feature

#3398 Added possibility to add hex colors
  src/components/subject-level-chips/SubjectLevelChips.tsx
  src/design-system/components/chip/ChipInternalComponents.tsx
  src/design-system/components/chip/types.ts
Labels: bug, Frontend part

#3432 add test for account activation success
  tests/unit/containers/edit-profile/password-security-tab/PasswordSecurityTab.spec.jsx
Labels: Tutor, priority: medium, Functional, test case, Edit

#3434 test to ensure that edit category modal opens on button click
  tests/unit/containers/edit-profile/professional-info-tab/ProfessionalInfoTab.spec.jsx
Labels: Tutor, Student, Functional, test case, priority: high, my-profile, Edit

#3436 Add resource for updating course availability in `CreateCourse` page
  src/pages/create-course/CreateCourse.handlers.ts
  tests/unit/pages/create-course/CreateCourse.handlers.spec.jsx
Labels: bug, Frontend part

#3428 [Edit Tutor’s profile] Addionional test for ChangePasswordModal.spec.jsx
  tests/unit/containers/edit-profile/password-security-tab/ChangePasswordModal.spec.jsx
Labels: test case

#2670 Implement downloading of attachments
  src/assets/img/download-attachments/download-symbol.svg
  src/assets/img/download-attachments/downloading.svg
  src/components/cooperation-section-view/CooperationSectionView.tsx
  src/components/download-button/DownloadButton.constants.ts
  src/components/download-button/DownloadButton.styles.ts
  src/components/download-button/DownloadButton.tsx
  src/constants/request.ts
  src/constants/translations/en/button.json
  src/constants/translations/uk/button.json
  src/containers/course-section/resource-item/ResourceItem.tsx
  src/containers/course-section/resource-item/resource-action/ResourceAction.tsx
  src/containers/course-section/resources-list/ResourcesList.tsx
  src/pages/lesson-details/LessonDetails.tsx
  src/services/base-service.ts
  src/services/resource-service.ts
  src/utils/download-file.ts
  tests/unit/components/download-button/DownloadButton.spec.jsx
  tests/unit/containers/course-section/resource-item/ResourceItem.spec.jsx
  tests/unit/containers/course-section/resource-item/resource-action/ResourceAction.spec.jsx
  tests/unit/pages/lesson-details/LessonDetails.spec.jsx
  tests/unit/services/resource-service.spec.jsx
  tests/unit/utils/download-file.spec.js
Labels: Frontend part, feature, Tutor, Student, spike, Refresh

#3446 Added tests to check translations into edit profile - professional info page
  tests/unit/containers/edit-profile/professional-info-tab/ProfessionalInfoTab.spec.jsx
Labels: Tutor, Student, priority: medium, test case, my-profile, Edit, Localization

#2829 Fix password validation message
  src/constants/translations/en/common.json
  src/constants/translations/uk/common.json
  src/utils/validations/common.ts
  src/utils/validations/validations.constants.ts
  tests/unit/containers/edit-profile/password-security-tab/ChangePasswordModal.spec.jsx
  tests/unit/containers/guest-home-page/reset-password/ResetPassword.spec.jsx
  tests/unit/utils/common.spec.jsx
Labels: bug, Frontend part, test, Refresh

#3447 (SP:) [Edit Tutor’s profile] Verify that the Tutor can change the password with valid data + sucess message check
  tests/unit/containers/edit-profile/password-security-tab/ChangePasswordModal.spec.jsx
Labels: test case
